.biggest {
    display: flex;
    padding-top: 48px;
    gap: 107px;
}

.middle {
    display: flex;
    padding-top: 48px;
    gap: 48px;
}

.lowest {
    display: flex;
    padding-top: 48px;
    gap: 45px;
}
.info__title:first-child {
    margin-top: 0;
}

.info__title {
    max-width: 980px;
    max-height: 88px;

    margin-top: 96px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000;
}

section {
    padding-left: 50px;
}