.biggest {
    display: flex;
    padding-top: 48px;
    gap: 107px;
}

.middle {
    display: flex;
    padding-top: 48px;
    gap: 48px;
}

.lowest {
    display: flex;
    padding-top: 48px;
    gap: 45px;
}


section {
    padding-left: 50px;
}