* {
  margin: 0;
  padding: 0%; /*никогда не делай общие стили сама. они затрагивают другие компоненты проекта, которые писали другие люди */
}

.footer {
  margin: auto;
  width: 100%;
  height: 406px; /* высота должна строиться от количества контента внутри. максимум можно сделать max-height */
  background: #d9d9d9;
}

.footer__content {
  display: flex;
  flex-direction: row; /* лишнее правило. flex-row стоит по умолчанию */
  padding-left: 54px;
  padding-top: 96px;
  position: absolute; /* если можно не использовать position - не используй. это плохая практика в коде которая ломает половину твоих компонентов */
}

.footer_Logo {
  width: 100%;
}

.Logo {
  width: 98px;
  height: 140px;
  mix-blend-mode: darken;
  flex: none;
  order: 0;
  flex-grow: 0; /* лого всегда выкачивается в svg. png - для обычных картинок, которые не имеют особого приоритета на сайте */
}

.footer__info {
  font-family: "Montserrat"; /* если шрифт для всех текстов внутри блока одинаковый, ставь font-family на родителя, чтобы избежать повторения правил */
  display: flex;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #292929;
  padding-left: 25px;
  padding-top: 12px;
  flex-direction: column;
  gap: 16px;
}

.footer__info_EmailAddress {
  text-decoration-line: underline;
}

.footer__links_1 {
  /*никогда не дублируй код и названия классов из-за их порядка. используй псевдоклассы, к примеру nth-of-child или last-of-type */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400px;
  font-size: 14px;
  line-height: 17px;
  color: #292929;
  order: 0;
  display: flex;
  gap: 24px;
  flex-direction: column;
  padding-left: 386px; /* у тебя фиксированный паддинг, поэтому когда страница уменьшается блоки уходят в горизонтальный скролл. ширина страницы становится меньше, чем твой паддинг */
}

.footer__links_2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400px;
  font-size: 14px;
  line-height: 17px;
  color: #292929;
  order: 0;
  display: flex;
  gap: 24px;
  flex-direction: column;
  padding-left: 89px;
}

a:hover {
  /*никогда не делай общие стили сама. они затрагивают другие компоненты проекта, которые писали другие люди */
  color: #e41e1e;
}
