.big{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 322px;
    height: 172px;

    border: 2px solid #FFCC33;
    border-radius: 10px;
    p{
        max-width: 217px;
        max-height: 51px;

        margin-left: 12px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }
}
.medium{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 259px;
    height: 172px;

    border: 2px solid #FFCC33;
    border-radius: 10px;
    p{
        max-width: 217px;
        max-height: 51px;

        margin-left: 12px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }
}
.low{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;

    border: 2px solid #FFCC33;
    border-radius: 10px;
    p{
        max-width: 147px;
        max-height: 51px;

        margin-left: 12px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }
}
.ellipse{
    width: 16px;
    height: 16px;
    background: #FFCC33;
    border-radius: 9px;
}