.info__title:first-child {
    margin-top: 0;
}

.info__title {
    max-width: 980px;
    max-height: 88px;

    margin-top: 96px;

    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000;
}