.swiper {
  margin-top: 30px;
  border-radius: 10px;
  width: 930px;
  height: 200px;
  margin-bottom: 204px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  flex-direction: column;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;

}
.swiper-button-prev {
  display: none;
}

